model_list:
  - model_name: autox
    litellm_params:
      model: anthropic/claude-haiku-4-5-20251001
      api_key: os.environ/ANTHROPIC_KEY_HAIKU
    max_parallel_requests: 4
    weight: 10

  - model_name: sonnet-4-x
    litellm_params:
      model: anthropic/claude-sonnet-4-20250514
      api_key: os.environ/ANTHROPIC_KEY_SONNETX
    max_parallel_requests: 1
    weight: 2

  - model_name: sonnet-4-x
    litellm_params:
      model: anthropic/claude-sonnet-4-20250514
      api_key: os.environ/ANTHROPIC_KEY_SONNET
    max_parallel_requests: 1
    weight: 1

  - model_name: sonnet-4-5-x
    litellm_params:
      model: anthropic/claude-sonnet-4-5-20250929
      api_key: os.environ/ANTHROPIC_KEY_SONNETX
    max_parallel_requests: 1
    weight: 2

  - model_name: sonnet-4-5-x
    litellm_params:
      model: anthropic/claude-sonnet-4-5-20250929
      api_key: os.environ/ANTHROPIC_KEY_SONNET
    max_parallel_requests: 1
    weight: 1

router_settings:
  routing_strategy: least-busy
  enable_pre_call_check: true
  allowed_fails: 2
  cooldown_time: 20
  num_retries: 2

litellm_settings:
  request_timeout: 180
  cache: true
  cache_params:
    type: redis
    host: os.environ/REDIS_HOST
    port: os.environ/REDIS_PORT
    password: os.environ/REDIS_PASSWORD

  fallbacks:
    - {"sonnet-4-x": ["sonnet-4-5-x", "autox"]}
    - {"sonnet-4-5-x": ["autox"]}

general_settings:
  master_key: os.environ/LITELLM_MASTER_KEY
  database_url: os.environ/DATABASE_URL
