model_list:
  - model_name: claude-3-5-sonnet
    litellm_params:
      model: anthropic/claude-3-5-sonnet-20240620
      api_key: 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

general_settings:
  master_key: os.environ/LITELLM_MASTER_KEY # Admin paneline giriş şifren bu olacak
  database_url: os.environ/DATABASE_URL     # Loglar burada tutulacak
  cache:                                    # Redis ayarı
    type: redis
    host: os.environ/REDIS_HOST
    port: os.environ/REDIS_PORT
    password: os.environ/REDIS_PASSWORD